# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore Files
.dockerignore
.gitignore

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Prisma Database
/src/generated/prisma
*.db

# Git
./.git
./docs

# Ignore Node.js modules
node_modules/

# Ignore development and build artifacts
.next/
.turbo/
.DS_Store
.env
.env.local
.env.development
.env.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
*.log
*.tsbuildinfo
*.tgz

# Ignore Git-related files
.git
.gitignore

# Ignore IDE files
.vscode/
.idea/

# Ignore Docker-related files (if not needed in build context)
Dockerfile
.dockerignore
