# ---------------- SESSION ----------------
SESSION_SECRET="your_secret"


# ---------------- DATABASE ----------------
# Sqlite Config
DATABASE_TYPE="sqlite"
DATABASE_URL_SQLITE="file:./promptopia.db"

# # MongoDB Config
# DATABASE_TYPE="mongodb"
# DATABASE_URL_MONGODB="mongodb+srv://<username>:<password>@<host>/promptopia"


# ---------------- OPTIONAL ----------------
LOGGING=true
