@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  @apply p-4;
}

.vertical_center {
  @apply flex flex-col items-center;
}

.preserve-lines {
  white-space: pre-line;
}

.blue_btn {
  @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
}

.filled_blue_btn {
  @apply text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-sky-800 dark:hover:bg-sky-950 focus:outline-none;
}

.filled_red_btn {
  @apply text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-800 dark:hover:bg-red-950 focus:outline-none;
}

.red_bule_gradient {
  background: hsla(27, 100%, 86%, 1);

  background: linear-gradient(
    135deg,
    hsla(27, 100%, 86%, 1) 0%,
    hsla(27, 74%, 55%, 1) 33%,
    hsla(27, 100%, 50%, 1) 98%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(27, 100%, 86%, 1) 0%,
    hsla(27, 74%, 55%, 1) 33%,
    hsla(27, 100%, 50%, 1) 98%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(27, 100%, 86%, 1) 0%,
    hsla(27, 74%, 55%, 1) 33%,
    hsla(27, 100%, 50%, 1) 98%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD8B8", endColorstr="#E18336", GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
